html{
    height:100%;
    /* background-image:url('background.png'); */
    background-color: #000000;
}
    body {
        background-image:url('background.png');
        font-family: 'Roboto', sans-serif;
        background-size:cover;
        background-repeat:no-repeat;
        height:100%;
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    span{

    }
    #donate{
      position: absolute;
      font-size: 1vw;
      color:#ffffff;
      text-shadow: 2px 2px #000000;
      bottom: 3vh;
      left:45vw;
      height: 2.5vw;
      width: 5vw;
      z-index: 1000;
    }
    #link{
      color:red;
      text-shadow: 1px 1px #000000;
      text-decoration: none;
    }
    #link:hover{
      color:magenta;
      text-shadow: 1px 1px #000000;
      text-decoration: none;
    }
    #flink{
      position: absolute;
      bottom:5vh;
      width:100vw;
      left:0vw;
      font-size: 1vw;
      text-align:center;
    }
    div{
      position: absolute;
      font-size: 1vw;
      color:#ffffff;
      text-shadow: 2px 2px #000000;
      bottom: 3vh;
      left:3vw;
      height: 10vw;
      width: 20vw;
      z-index: 1000;
    }
    video{
      /* display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0%; */
      background-color:#000000;
      position: absolute;
      top: 5vh;
      height: 80vh;
      width: 80vw;
      right: 10vw;
      bottom: 30vh;
    }
    button{
      position:absolute;
      height:10vh;
      width:20vw;
      font-size: 2.5vw;
      z-index: 1000;
      background-image: url('redBack.jpg');
      background-size: cover;
      color: #ffffff;
      text-shadow: 2px 2px #000000;
    }
    button:hover{
      height:10.5vh;
      width:21vw;
    }
    a{
      /* position: absolute; */
    }
    #butt{
      position:absolute;
      bottom:12vh;
      right:22vw;
      z-index: 1000;
    }
    #butt:hover{
      bottom:12.25vh;
      right:22.5vw;
    }
    #dono{
      /* position: absolute;
      bottom:5vh;
      width:100vw;
      left:0vw;
      font-size: 1vw;
      text-align:center; */
      text-decoration: none;
      /* color:red;
      text-shadow: 1px 1px #000000;
      text-decoration: none; */
    }
    #dono:hover{
      /* color:magenta;
      text-shadow: 1px 1px #000000; */
    }
